.app-lightbulbtrainingIO .c3-page-inventoryOverview .tiles .c3-text {
  text-align: center;
}
.app-lightbulbtrainingIO .c3-page-inventoryOverview .panel-default .panel-heading {
  background-color: transparent;
}
.app-lightbulbtrainingIO .c3-page-inventoryOverview .panel-default .panel-heading .panel-title .title {
  font-size: 30px;
}
